<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap-5.3.3-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../static/font/bootstrap-icons.min.css">
</head>
<body>
<div class="row">
    <div class="col-8">
    </div>
    <div class="col-3">
        <a href="/logout" class="btn mt-1  btn-danger text-white">Chiqish</a>

        <a  href="/product" class="btn mt-1  btn-primary text-white ms-3">Praduct</a>
    </div>
</div>
</body>
</html>