<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Mahsulot qo‘shish</title>
    <link rel="stylesheet" href="../static/bootstrap-5.3.3-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../static/font/bootstrap-icons.min.css">
</head>
<body class="bg-light">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-3 shadow-lg rounded-4">
                <form method="POST" action="malumot" enctype="multipart/form-data">
                    <div class="mb-3 text-center">
                        <input type="file" id="imageInput" name="image" accept="image/*" required hidden>
                        <label for="imageInput" class="btn btn-primary">
                            📷 Rasm qo‘shish
                        </label>
                        <div class="mt-3">
                            <img id="preview" src="#" alt="Rasm tanlanmagan" class="img-fluid rounded shadow-sm"
                                 style="max-height: 200px; display: none;">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Og‘irligi (kg)</label>
                        <input type="text" name="weight" class="form-control" placeholder="Masalan: 1.5" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Narxi (so‘m)</label>
                        <input type="number" name="price" class="form-control" placeholder="Masalan: 250.000uzs"
                               required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Izoh</label>
                        <textarea name="description" class="form-control" rows="3"></textarea>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-save"></i> Saqlash
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script src="../static/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js">
    document.getElementById("imageInput").addEventListener("change", function (event) {
    let preview = document.getElementById("preview");
    let file = event.target.files[0];
    if (file) {
        preview.src = URL.createObjectURL(file);
        preview.style.display = "block";
    }
});</script>
</body>
</html>
